<div class="container">

<h1 class="text-danger">Page to edit the Gossip</h1>



<%= form_for @gossip, url: gossip_path, class: "form-group" do |f| %>
	<p>Title</p>
	<%= f.text_field :title, class: "form-control" %></br>
	<p>Content</p>
	<%= f.text_area :content, class: "form-control" %></br>
	<p>User_id</p>
	<%= f.number_field :user_id, in: 1..@user_number, class: "form-control" %></br>
	</br><button type='submit' class = 'btn btn-primary'>Update gossip</button>

<% end %>

</div>