<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container">
 <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to "Accueil", root_path, class: "text-success" %></li>&nbsp
        <li class="nav-item"><%= link_to "Index des gossips",   gossips_path %></li>&nbsp
        <li class="nav-item"><%= link_to "Nouveau gossip", new_gossip_path, class: "text-warning" %></li><hr>
      </ul>
  </div>

</nav>

